.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #10A858;
}

.location {
    flex-basis: 28%;
    margin: 2em;
    padding: 1em;
    box-shadow:  
        5px 5px #C8B9FF, 
        8px 8px #605BFF,
        11px 11px #C8B9FF,
        14px 14px #605BFF; 
background-color: white;
}