/* imported google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


/* Typography */
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h4,
h5, 
h6 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    /* margin-left: 2em; */
}

p {
    margin-bottom: 1.5em;
    color: #d6fcff;
    color: darkslateblue;
}

strong {
    font-weight: bold;
}

address,
small {
    margin-left: 5em;
}